<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjsmallfly.syllabus.syllabus"
    android:versionCode="32"
    android:versionName="@string/version_name">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/syllabus_icon2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="565fd457e0f55adeec0002dd" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="smallfly" />

        <activity
            android:name="com.hjsmallfly.syllabus.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hjsmallfly.syllabus.activities.SyllabusActivity"
            android:label="@string/title_activity_syllabus"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hjsmallfly.syllabus.activities.MyTabActivity"
            android:label="具体信息"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.hjsmallfly.syllabus.activities.HistoryActivity"
            android:label="@string/title_activity_history"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hjsmallfly.syllabus.activities.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name="com.hjsmallfly.syllabus.activities.UpdateActivity"
            android:label="@string/title_activity_update"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hjsmallfly.syllabus.activities.GradeActivity"
            android:label="@string/title_activity_grade" />
        <activity
            android:name="com.hjsmallfly.syllabus.activities.GlobalDiscussActivity"
            android:label="@string/title_activity_global_discuss"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.hjsmallfly.syllabus.activities.ExamActivity"
            android:label="@string/title_activity_exam" />
        <activity
            android:name="com.hjsmallfly.syllabus.activities.PersonalInfoActivity"
            android:label="@string/title_activity_personal_info" />
        <activity
            android:name="com.hjsmallfly.syllabus.activities.OAActivity"
            android:label="@string/oa_label" />
        <activity
            android:name="com.hjsmallfly.syllabus.activities.OAWebViewActivity"
            android:label="@string/oa_web_view_label" />
        <activity android:name="com.hjsmallfly.syllabus.activities.HelpActivity" />
        <activity
            android:name="com.hjsmallfly.syllabus.activities.ChooseLessonActivity"
            android:label="长按模拟添加/删除课程" />
        <activity android:name="com.hjsmallfly.syllabus.activities.ShowClassInfoActivity" />
        <activity android:name="com.hjsmallfly.syllabus.activities.LoginActivity"></activity>
    </application>

</manifest>
